#headerAPP {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
    color: white;
}

li {
    font-size: x-large;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;

}

#backgroundBLACK {
    background-color: rgb(0, 0, 0);
}

.nav-item {
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-color:
        rgb(249, 247, 247);
    --bs-nav-link-bg-color:
        rgb(249, 247, 247);
    --bs-nav-link-active:
        rgb(199, 84, 84);
    --bs-navbar-active-color: white;
    justify-self: center;
}

.nav-item:hover {
    --bs-nav-link-active: white;
    color: aliceblue;

}
#nav-link{
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-self: center;
}
.equationField{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    

}
#PlanetChooser{
    flex-direction: column;
}
#imgPlace{
    text-align: center;
}
.imageOfTheDay{
    width:100%;
    
    max-width:600px;
}
.planet-text{
    color: white;
}
#extraPics{
    align-items: center;
    max-width: 20%;
}
#showExtraData{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#extraPics{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}